
.buttons{
position: absolute;
height: 40Px;
left: 0.07%;
right: 0%;
top: 52px;

background: #150714;
display: flex;
justify-content: center
    
}

.tweets-feed{
left: 0%;
right: 50%;
top: 22.86%;
bottom: 22.86%;

font-family: 'Silkscreen';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.333333px;

color: #150714;

left: 0%;
right: 50%;
top: 0%;
bottom: 0%;

background: #60265B;
width: 302.5px;
height: 46px;
}
.tweets-favorites{
    left: 0%;
    right: 50%;
    top: 22.86%;
    bottom: 22.86%;
    
    font-family: 'Silkscreen';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.333333px;
    
    color: #60265B;
    
    left: 0%;
    right: 50%;
    top: 0%;
    bottom: 0%;
    
    background:#150714; 
    width: 302.5px;
    height: 46px;
    }
    