* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 20px;
  background-color: #edf2f6;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  margin: 0 auto;
}

.formulario .input-group {
  margin: 15px;
  display: flex;
  align-items: center;
  height: 20px;
}
.formulario .EscribirTweet {
  margin: 15px;
  display: flex;
  align-items: center;
  height: 80px;
  width: 300px;

}
.formulario input {
  padding: 5px;
}

.formulario button {
  padding: 5px;
}

.delete {
  font-size: 13px;
  border-radius: 10px;
  color: white;
  padding: 8px;
  cursor: pointer;
  background-color: rgb(240, 48, 34);
  margin-left: 10px;
}

.tweet {
  background-color: #ddd;
  border-radius: 5px;
  max-width: 500px;
  margin: 15px auto;
  box-shadow: 0 0.2px 0.9px -3px rgba(0, 0, 0, 0.022),
    0 0.5px 2.3px -3px rgba(0, 0, 0, 0.031),
    0 1.1px 4.6px -3px rgba(0, 0, 0, 0.039),
    0 2.2px 9.5px -3px rgba(0, 0, 0, 0.048), 0 6px 26px -3px rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: space-between;
  position:relative;
  flex-wrap: nowrap;
  padding: 15px;
  /*background-color: lightblue; */
}

.tweet .tweet-content {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.tweet .tweet-content p {
  /*border-bottom: 1px solid #b2b2b2;*/
  padding-bottom: 4px;
  margin-bottom: 4px 8px;
}

.tweet-autor {
  font-size: 12px;
}

.tweet-actions {
  display: flex;
  align-items: center;
}

.likes {
  cursor: pointer;
  font-size: 13px;
  border-radius: 10px;
  color: black;
  padding: 8px;
  cursor: pointer;
  border: 1px solid rgb(240, 48, 34);
  margin-left: 10px;
  display: flex;
  align-items: center;
  background: none;
  border:none;
}

.likes img {
  margin-right: 5px;
  height: 20px;
   
}

.form{
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  margin: 0 auto;
}
.btn-tweet{
  background-color: blue;
  color: white;
  cursor: pointer;
}

.tweets .tweets-button{
  background-color: grey;
  color: white;
  cursor: pointer;
  margin: 10px;

}
.tweets .tweets-fav{
  background-color: blueviolet;
  color: white;
  cursor: pointer;
  margin: 10px;

}
.btn-login{
  background-color: blue;
  max-width: 540px;
  cursor:pointer;
  color:white;
  width: 25%;
  height:30px ;
}
